@import "../bower_components/bootstrap/less/bootstrap.less";

@body-bg: #1a0e49;
@text-color: #74b9c6;
@table-bg-accent: #1f109e;
@table-bg-hover: #808080;

.page {
  .container-fixed();
  padding: 30px;
}

@media screen and (min-width: @screen-tablet) {
  .page {
    max-width: 728px;
  }
}

@media screen and (min-width: @screen-desktop) {
  .page {
    max-width: 940px;
  }
}

.content {
  .make-row();
}

article[role=main] {
  .make-md-column(8);
}

div[role=complementary] {
  .make-md-column(3);
  .make-md-column-offset(1);
}

.site-header,
.site-footer {
  padding-left:  (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
}

.site-footer {
  padding-top: 30px;
}

// Для мувабельных панелек
.draggable-panel .panel-heading {
  cursor: move;
}
