@import "../bower_components/bootstrap/less/bootstrap.less";
// Брендовые цвета для всего
@brand-primary: #628a99;
@brand-success: #5cb85c;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

// Цвет подложки
@body-bg: #323232;
// Общий цвет текста
@text-color: #808080; //#dead4d;

// Jumbotron
@jumbotron-bg: #222222;
//@jumbotron-padding: 10px;


// Panels
@panel-bg: #3c3f41;
@panel-default-border: #555555;


// Edits
@input-bg: #45494a;
@input-color: #dead4d;
@input-border: #646464;

// Buttons
@btn-default-bg: #26364a;
@btn-default-color: #86BAA8;
@btn-default-border: #595A5A;

/*
@table-bg-accent: #3f2596;
@table-bg-hover: #808080;



.page {
  .container-fixed();
  padding: 30px;
}

@media screen and (min-width: @screen-tablet) {
  .page {
    max-width: 728px;
  }
}

@media screen and (min-width: @screen-desktop) {
  .page {
    max-width: 940px;
  }
}
*/


.ag-setup-container {
  text-align: center;
  width: 820px;
}

.ag-setup-container .ag-status {
  display: inline-block;
  height: 200px;
  margin: 10px 10px;
  width: 220px;
  //  background: #3c3f41;
  font-weight: bold;
}


.ag-setup-container .ag-setup {
  display: inline-block;
  height: 70px;
  margin: 10px 10px;
  width: 400px;
//  background: #3c3f41;
  font-weight: bold;
}

.ag-setup-container .ag-setup .panel-body {
  padding: 3px 7px;
}

.ag-setup-container .ag-setup-buttons {
  display: inline-block;
  height: 40px;
  margin: 10px 10px;
  width: 400px;
  background: #3c3f41;
  font-weight: bold;
}

.ag-setup-container .ag-setup-buttons .panel-body {
  padding: 3px 7px;
}
