<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тествая прошивка для ArtGate v0.9</title>
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <script src="/assets/bower_components/react/react.min.js"></script>
    <script src="/assets/bower_components/react/JSXTransformer.js"></script>
    <script src="/assets/bower_components/reflux/dist/reflux.min.js"></script>
    <script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bower_components/react/JSXTransformer.js"></script>
    <script src="/assets/bower_components/react-bootstrap/react-bootstrap.min.js"></script>
    <script src="/assets/bower_components/react-router/build/umd/ReactRouter.min.js"></script>
    <script src="/assets/bower_components/react-router-bootstrap/lib/ReactRouterBootstrap.min.js"></script>
    <script src="/assets/bower_components/reflux/dist/reflux.min.js"></script>

</head>
<body>


<script type="text/jsx" src="/assets/app/helpers/forms/editors.jsx"></script>

<!-- ACTIONS -->
<script type="text/jsx" src="/assets/app/actions/setup_actions.jsx"></script>
<script type="text/jsx" src="/assets/app/actions/auth_actions.jsx"></script>

<!-- STORES -->
<script type="text/jsx" src="/assets/app/store/setup_store.jsx"></script>
<script type="text/jsx" src="/assets/app/store/auth_store.jsx"></script>

<!-- VIEWS -->

<script type="text/jsx" src="/assets/app/views/auth/login.jsx"></script>
<script type="text/jsx" src="/assets/app/views/setup/ethernet.jsx"></script>
<script type="text/jsx" src="/assets/app/views/setup/artin.jsx"></script>
<script type="text/jsx" src="/assets/app/views/setup/artout.jsx"></script>
<script type="text/jsx" src="/assets/app/views/status/status.jsx"></script>
<script type="text/jsx" src="/assets/app/views/header.jsx"></script>
<script type="text/jsx" src="/assets/app/views/footer.jsx"></script>
<script type="text/jsx" src="/assets/app/main.jsx"></script>

</body>
</html>