<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1"/>
    <title>TTS ArtGate 4DR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/build/style.css" rel="stylesheet"/>

</head>
<body>

<div id="artgate-application">
    К сожалению, ваш браузер не поддерживает JavaScript.
    Включите поддержку JavaScript!
    Если не помогло - обращайтесь <a href="mailto:info@ttsy.ru">К Разработчику</a>
</div>

<script src="/build/artgate.js"></script>

</body>
</html>